certifi==2026.4.22
charset-normalizer==3.4.7
docutils==0.22.4
filetype==1.2.0
idna==3.13
Kivy==2.3.1
Kivy-Garden==0.1.5
numpy==2.4.4
oscpy==0.6.0
pillow==12.2.0
Pygments==2.20.0
requests==2.33.1
urllib3==2.6.3
